@inherits LayoutComponentBase
<div class="page">
    <div class="d-flex flex-column min-vh-100 bg-light">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container-fluid">
            <div class="navbar-brand d-flex align-items-center gap-3">
                <span class="fw-bold fs-5 text-dark">
                    Clément Kilundu
                </span>
            </div>

            <!-- Bouton hamburger -->
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menus + bouton CV regroupés dans le même collapse -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="d-flex flex-column flex-lg-row flex-md-column w-100 align-items-center">
                    <ul class="navbar-nav  ms-auto">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="#home">Accueil</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="#home">À propos</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="#projet">Projects</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="#contact">Contact</NavLink>
                        </li>
                    </ul>

                    <div >
                        <a href="cv clement.pdf" target="_blank" class="btn btn-primary btn-sm">
                            <i class="fas fa-download"></i>
                            Télecharger mon CV
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </nav>

    <!-- CONTENU -->
    <main class="flex-grow-1 py-4">
        <div class="container">
            @Body
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="bg-white text-center text-muted py-3 border-top">
        &copy; @DateTime.Now.Year Clément Kilundu. Tous droits réservés.
    </footer>

</div>
</div>



